{
  "extends": ["eslint:recommended", "plugin:inferno/recommended"],
  "settings": {
    "inferno": {
      "createClass": "createClass",
      "pragma": "Inferno",
    },
    "propWrapperFunctions": ["forbidExtraProps"]
  }
}
